/* palette colors*/
.erpnext-footer {
  margin: 11px auto;
  text-align: left;
}
.show-all-reports {
  margin-top: 5px;
  font-size: 11px;
}
/* toolbar */
.toolbar-splash {
  width: 32px;
  height: 32px;
  margin: -10px auto;
}
.erpnext-icon {
  width: 24px;
  margin-right: 0px;
  margin-top: -3px;
}
.app-icon-svg {
  display: inline-block;
  margin: auto;
  text-align: center;
  border-radius: 16px;
  cursor: pointer;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
}
.app-icon-svg .hub-icon {
  height: 72px;
  width: 72px;
}
.dashboard-list-item {
  background-color: inherit;
  padding: 5px 0px;
  border-bottom: 1px solid #d1d8dd;
}
#page-stock-balance .dashboard-list-item {
  padding: 5px 15px;
}
.dashboard-list-item:last-child {
  border-bottom: none;
}
.frappe-control[data-fieldname='result_html'] {
  overflow: scroll;
}
.assessment-result-tool {
  table-layout: fixed;
}
.assessment-result-tool input {
  width: 100%;
  border: 0;
  outline: none;
  text-align: right;
}
.assessment-result-tool th {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.assessment-result-tool .total-score,
.assessment-result-tool .grade,
.assessment-result-tool .score {
  text-align: right;
}
/* pos */
body[data-route="pos"] .pos-bill-toolbar {
  padding: 10px 0px;
  height: 51px;
}
body[data-route="pos"] .pos-bill-item:hover,
body[data-route="pos"] .list-customers-table > .pos-list-row:hover {
  background-color: #f5f7fa;
  cursor: pointer;
}
body[data-route="pos"] .pos-item-qty {
  display: inline-block;
}
body[data-route="pos"] .pos-qty-row > div {
  padding: 5px 0px;
}
body[data-route="pos"] .pos-qty-btn {
  margin-top: 3px;
  cursor: pointer;
  font-size: 120%;
}
body[data-route="pos"] .search-area .form-group {
  max-width: 100% !important;
}
body[data-route="pos"] .tax-table {
  margin-bottom: 10px;
}
body[data-route="pos"] .discount-field-col {
  padding-left: 24px;
}
body[data-route="pos"] .discount-amount-area .input-group:first-child {
  margin-bottom: 2px;
}
body[data-route="pos"] .payment-toolbar .row {
  width: 323px;
  margin: 0 auto;
}
body[data-route="pos"] .payment-mode {
  cursor: pointer;
  font-family: sans-serif;
  font-size: 15px;
}
body[data-route="pos"] .pos-payment-row .col-xs-6 {
  padding: 15px;
}
body[data-route="pos"] .pos-payment-row {
  border-bottom: 1px solid #d1d8dd;
  margin: 2px 0px 5px 0px;
  height: 60px;
  margin-top: 0px;
  margin-bottom: 0px;
}
body[data-route="pos"] .pos-payment-row:hover,
body[data-route="pos"] .pos-keyboard-key:hover {
  background-color: #fafbfc;
  cursor: pointer;
}
body[data-route="pos"] .pos-keyboard-key,
body[data-route="pos"] .delete-btn {
  border: 1px solid #d1d8dd;
  height: 85px;
  width: 85px;
  margin: 10px 10px;
  font-size: 24px;
  font-weight: 200;
  background-color: #FDFDFD;
  border-color: #e8e8e8;
}
body[data-route="pos"] .numeric-keypad {
  border: 1px solid #d1d8dd;
  height: 69px;
  width: 69px;
  font-size: 20px;
  font-weight: 200;
  background-color: #FDFDFD;
  border-color: #e8e8e8;
  margin-left: -4px;
}
body[data-route="pos"] .pos-pay {
  height: 69px;
  width: 69px;
  font-size: 17px;
  font-weight: 200;
  margin-left: -4px;
}
body[data-route="pos"] .numeric-keypad {
  height: 60px;
  width: 60px;
  font-size: 20px;
  font-weight: 200;
  border-radius: 0;
  background-color: #fff;
  margin-left: -4px;
}
@media (max-width: 1199px) {
  body[data-route="pos"] .numeric-keypad {
    height: 45px;
    width: 45px;
    font-size: 14px;
  }
}
@media (max-width: 991px) {
  body[data-route="pos"] .numeric-keypad {
    height: 40px;
    width: 40px;
  }
}
body[data-route="pos"] .numeric_keypad {
  margin-left: -15px;
}
body[data-route="pos"] .numeric_keypad > .row > button {
  border: none;
  border-right: 1px solid #d1d8dd;
  border-bottom: 1px solid #d1d8dd;
}
body[data-route="pos"] .numeric_keypad > .row > button:first-child {
  border-left: 1px solid #d1d8dd;
}
body[data-route="pos"] .numeric_keypad > .row:first-child > button {
  border-top: 1px solid #d1d8dd;
}
body[data-route="pos"] .pos-pay {
  background-color: #5e64ff;
  border: none;
}
body[data-route="pos"] .multimode-payments {
  padding-left: 30px;
}
body[data-route="pos"] .payment-toolbar {
  padding-right: 30px;
}
body[data-route="pos"] .list-row-head.pos-invoice-list {
  border-top: 1px solid #d1d8dd;
}
body[data-route="pos"] .modal-dialog {
  width: 750px;
}
@media (max-width: 767px) {
  body[data-route="pos"] .modal-dialog {
    width: auto;
  }
  body[data-route="pos"] .modal-dialog .modal-content {
    height: auto;
  }
}
@media (max-width: 767px) {
  body[data-route="pos"] .amount-row h3 {
    font-size: 15px;
  }
  body[data-route="pos"] .pos-keyboard-key,
  body[data-route="pos"] .delete-btn {
    height: 50px;
  }
  body[data-route="pos"] .multimode-payments {
    padding-left: 15px;
  }
  body[data-route="pos"] .payment-toolbar {
    padding-right: 15px;
  }
}
body[data-route="pos"] .amount-label {
  font-size: 16px;
}
body[data-route="pos"] .selected-payment-mode {
  background-color: #fafbfc;
  cursor: pointer;
}
body[data-route="pos"] .pos-invoice-list {
  padding: 15px 10px;
}
body[data-route="pos"] .write_off_amount,
body[data-route="pos"] .change_amount {
  margin: 15px;
  width: 130px;
}
body[data-route="pos"] .pos-list-row {
  display: table;
  table-layout: fixed;
  width: 100%;
  padding: 9px 15px;
  font-size: 12px;
  margin: 0px;
  border-bottom: 1px solid #d1d8dd;
}
body[data-route="pos"] .pos-list-row .cell {
  display: table-cell;
  vertical-align: middle;
}
body[data-route="pos"] .pos-list-row .cell.price-cell {
  width: 50%;
}
body[data-route="pos"] .pos-list-row .subject {
  width: 40%;
}
body[data-route="pos"] .pos-list-row .list-row-checkbox,
body[data-route="pos"] .pos-list-row .list-select-all {
  margin-right: 7px;
}
body[data-route="pos"] .pos-bill-header {
  background-color: #f5f7fa;
  border: 1px solid #d1d8dd;
  padding: 13px 15px;
}
body[data-route="pos"] .pos-list-row.active {
  background-color: #fffce7;
}
body[data-route="pos"] .totals-area {
  border-right: 1px solid #d1d8dd;
  border-left: 1px solid #d1d8dd;
  margin-bottom: 15px;
}
body[data-route="pos"] .tax-area .pos-list-row {
  border: none;
}
body[data-route="pos"] .item-cart-items {
  height: calc(100vh - 526px);
  overflow: auto;
  border: 1px solid #d1d8dd;
  border-top: none;
}
@media (max-width: 767px) {
  body[data-route="pos"] .item-cart-items {
    height: 30vh;
  }
}
body[data-route="pos"] .no-items-message {
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
body[data-route="pos"] .pos-list-row:last-child {
  border-bottom: none;
}
body[data-route="pos"] .form-section-heading {
  padding: 0;
}
body[data-route="pos"] .item-list {
  border: 1px solid #d1d8dd;
  border-top: none;
  max-height: calc(100vh - 190px);
  overflow: auto;
}
@media (max-width: 767px) {
  body[data-route="pos"] .item-list {
    max-height: initial;
  }
}
body[data-route="pos"] .item-list .image-field {
  height: 140px;
}
body[data-route="pos"] .item-list .image-field .placeholder-text {
  font-size: 50px;
}
body[data-route="pos"] .item-list .pos-item-wrapper {
  position: relative;
}
body[data-route="pos"] .pos-bill-toolbar {
  margin-top: 10px;
}
body[data-route="pos"] .search-item .form-group {
  margin: 0;
}
body[data-route="pos"] .item-list-area .pos-bill-header {
  padding: 5px;
  padding-left: 15px;
}
body[data-route="pos"] .pos-selected-item-action .pos-list-row:first-child {
  padding-top: 0;
}
body[data-route="pos"] .pos-selected-item-action > .pos-list-row {
  border: none;
}
@media (max-width: 1199px) {
  body[data-route="pos"] .pos-selected-item-action > .pos-list-row {
    padding: 5px 15px;
  }
}
body[data-route="pos"] .edit-customer-btn {
  position: absolute;
  right: 57px;
  top: 15px;
  z-index: 100;
}
body[data-route="pos"] .btn-more {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #fafbfc;
  min-height: 200px;
}
body[data-route="pos"] .collapse-btn {
  cursor: pointer;
}
@media (max-width: 767px) {
  body[data-route="pos"] .page-actions {
    max-width: 110px;
  }
}
.price-info {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 0 0 15px 15px;
  background-color: rgba(141, 153, 166, 0.6);
  padding: 5px 9px;
  border-radius: 3px;
  color: #fff;
}
.leaderboard .result {
  border-top: 1px solid #d1d8dd;
}
.leaderboard .list-item {
  padding-left: 45px;
}
.leaderboard .list-item_content {
  padding-right: 45px;
}

/* palette colors*/
body[data-route*="marketplace"] {
  /* messages page */
}
body[data-route*="marketplace"] .layout-side-section {
  padding-top: 25px;
  padding-left: 5px;
  padding-right: 25px;
}
body[data-route*="marketplace"] [data-route],
body[data-route*="marketplace"] [data-action] {
  cursor: pointer;
}
body[data-route*="marketplace"] .layout-main-section {
  border: none;
  font-size: 12px;
  padding-top: 25px;
}
@media (max-width: 767px) {
  body[data-route*="marketplace"] .layout-main-section {
    padding-left: 20px;
    padding-right: 20px;
  }
}
body[data-route*="marketplace"] input,
body[data-route*="marketplace"] textarea {
  font-size: 12px;
}
body[data-route*="marketplace"] .hub-image {
  height: 200px;
}
body[data-route*="marketplace"] .hub-image-loading,
body[data-route*="marketplace"] .hub-image-broken {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  height: calc(100%);
  width: 100%;
  background-color: #fafbfc;
  display: flex;
  align-items: center;
  justify-content: center;
}
body[data-route*="marketplace"] .hub-image-loading span,
body[data-route*="marketplace"] .hub-image-broken span {
  font-size: 32px;
  color: #d1d8dd;
}
body[data-route*="marketplace"] .progress-bar {
  background-color: #89da28;
}
body[data-route*="marketplace"] .subpage-title.flex {
  align-items: flex-start;
  justify-content: space-between;
}
body[data-route*="marketplace"] .hub-card {
  margin-bottom: 25px;
  position: relative;
  border: 1px solid #d1d8dd;
  border-radius: 4px;
  overflow: hidden;
}
body[data-route*="marketplace"] .hub-card:hover .hub-card-overlay {
  display: block;
}
body[data-route*="marketplace"] .hub-card.is-local.active .hub-card-header {
  background-color: #f4ffe5;
}
body[data-route*="marketplace"] .hub-card.is-local.active .octicon-check {
  display: inline;
}
body[data-route*="marketplace"] .hub-card.is-local .octicon-check {
  display: none;
  position: absolute;
  font-size: 20px;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}
body[data-route*="marketplace"] .hub-card-header {
  position: relative;
  padding: 12px 15px;
  height: 60px;
  border-bottom: 1px solid #d1d8dd;
}
body[data-route*="marketplace"] .hub-card-body {
  position: relative;
  height: 200px;
}
body[data-route*="marketplace"] .hub-card-overlay {
  display: none;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.05);
}
body[data-route*="marketplace"] .hub-card-overlay-body {
  position: relative;
  height: 100%;
}
body[data-route*="marketplace"] .hub-card-overlay-button {
  position: absolute;
  right: 15px;
  bottom: 15px;
}
body[data-route*="marketplace"] .hub-card-image {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
body[data-route*="marketplace"] .hub-search-container {
  margin-bottom: 20px;
}
body[data-route*="marketplace"] .hub-search-container input {
  height: 32px;
}
body[data-route*="marketplace"] .hub-sidebar {
  padding-top: 25px;
  padding-right: 15px;
}
body[data-route*="marketplace"] .hub-sidebar-group {
  margin-bottom: 10px;
}
body[data-route*="marketplace"] .hub-sidebar-item {
  padding: 5px 8px;
  margin-bottom: 3px;
  border-radius: 4px;
  border: 1px solid transparent;
}
body[data-route*="marketplace"] .hub-sidebar-item.active,
body[data-route*="marketplace"] .hub-sidebar-item:hover:not(.is-title) {
  border-color: #d1d8dd;
}
body[data-route*="marketplace"] .hub-item-image {
  position: relative;
  border: 1px solid #d1d8dd;
  border-radius: 4px;
  overflow: hidden;
  height: 200px;
  width: 200px;
  display: flex;
  align-items: center;
}
body[data-route*="marketplace"] .hub-item-skeleton-image {
  border-radius: 4px;
  background-color: #fafbfc;
  overflow: hidden;
  height: 200px;
  width: 200px;
}
body[data-route*="marketplace"] .hub-skeleton {
  background-color: #fafbfc;
  color: #fafbfc;
  max-width: 500px;
}
body[data-route*="marketplace"] .hub-item-seller img {
  width: 50px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid #d1d8dd;
}
body[data-route*="marketplace"] .register-title {
  font-size: 14px;
}
body[data-route*="marketplace"] .register-form {
  border: 1px solid #d1d8dd;
  border-radius: 4px;
  padding: 15px 25px;
}
body[data-route*="marketplace"] .publish-area.filled .empty-items-container {
  display: none;
}
body[data-route*="marketplace"] .publish-area.empty .hub-items-container {
  display: none;
}
body[data-route*="marketplace"] .publish-area-head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
body[data-route*="marketplace"] .hub-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #d1d8dd;
  margin-bottom: -1px;
  overflow: hidden;
}
body[data-route*="marketplace"] .hub-list-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
body[data-route*="marketplace"] .hub-list-item:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
body[data-route*="marketplace"] .hub-list-left {
  display: flex;
  align-items: center;
  max-width: 90%;
}
body[data-route*="marketplace"] .hub-list-right {
  padding-right: 15px;
}
body[data-route*="marketplace"] .hub-list-image {
  position: relative;
  width: 58px;
  height: 58px;
  border-right: 1px solid #d1d8dd;
}
body[data-route*="marketplace"] .hub-list-image::after {
  font-size: 12px;
}
body[data-route*="marketplace"] .hub-list-body {
  padding: 12px 15px;
}
body[data-route*="marketplace"] .hub-list-title {
  font-weight: bold;
}
body[data-route*="marketplace"] .hub-list-subtitle {
  color: #8d99a6;
}
body[data-route*="marketplace"] .selling-item-message-card {
  max-width: 500px;
  margin-bottom: 15px;
  border-radius: 3px;
  border: 1px solid #d1d8dd;
}
body[data-route*="marketplace"] .selling-item-message-card .selling-item-detail {
  overflow: auto;
}
body[data-route*="marketplace"] .selling-item-message-card .selling-item-detail .item-image {
  float: left;
  height: 80px;
  width: 80px;
  object-fit: contain;
  margin: 5px;
}
body[data-route*="marketplace"] .selling-item-message-card .selling-item-detail .item-name {
  margin-left: 10px;
}
body[data-route*="marketplace"] .selling-item-message-card .received-message-container {
  clear: left;
  background-color: #fafbfc;
}
body[data-route*="marketplace"] .selling-item-message-card .received-message-container .received-message {
  border-top: 1px solid #d1d8dd;
  padding: 10px;
}
body[data-route*="marketplace"] .selling-item-message-card .received-message-container .frappe-timestamp {
  float: right;
}
body[data-route*="marketplace"] .form-container .frappe-control {
  max-width: 100% !important;
}
body[data-route*="marketplace"] .form-message {
  padding-top: 0;
  padding-bottom: 0;
  border-bottom: none;
}
body[data-route*="marketplace"] .hub-items-container .hub-items-header {
  justify-content: space-between;
  align-items: baseline;
}
body[data-route*="marketplace"] .hub-item-container {
  overflow: hidden;
}
body[data-route*="marketplace"] .hub-item-review-container {
  margin-top: calc(30vh);
}
body[data-route*="marketplace"] .hub-item-dropdown {
  margin-top: 20px;
}
body[data-route*="marketplace"] .message-list-item {
  display: flex;
  align-items: center;
  padding: 8px 12px;
}
body[data-route*="marketplace"] .message-list-item:not(.active) {
  filter: grayscale(1);
  color: #8d99a6;
}
body[data-route*="marketplace"] .message-list-item:hover {
  background-color: #fafbfc;
}
body[data-route*="marketplace"] .message-list-item .list-item-left {
  width: 30px;
  border-radius: 4px;
  overflow: hidden;
  margin-right: 15px;
}
body[data-route*="marketplace"] .message-list-item .list-item-body {
  font-weight: bold;
  padding-bottom: 1px;
}
body[data-route*="marketplace"] .message-container {
  display: flex;
  flex-direction: column;
  border: 1px solid #d1d8dd;
  border-radius: 3px;
  height: calc(100vh - 300px);
  justify-content: space-between;
  padding: 15px;
}
body[data-route*="marketplace"] .message-list {
  overflow: scroll;
}

.call-popup a:hover {
  text-decoration: underline;
}
.call-popup .for-description {
  max-height: 250px;
  overflow: scroll;
}
